@model RepositoryPatternCRUD.Models.User

@{
    ViewData["Title"] = "AddUser";
}



<div class="container">
    <div class="row">
        <div class="col-6 offset-3 border border-4 rounded rounded-3 p-4">
            <h3 class="text-info p-2 m-1 text-center">Add User</h3>
            <form method="post" asp-action="AddUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-check">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Your Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <label asp-for="Gender" class="control-label"></label><br />
                    <label>
                        Male <input type="radio" class="form-check-inline" name="Gender" asp-for="Gender" value="Male" />
                    </label>
                    <label>
                        Female <input type="radio" class="form-check-inline" name="Gender" asp-for="Gender" value="Female" />
                    </label>
                    <label>
                        Other <input type="radio" class="form-check-inline" name="Gender" asp-for="Gender" value="Other" />
                    </label>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter Your Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <label asp-for="PinCode" class="control-label"></label>
                    <input asp-for="PinCode" type="number" class="form-control" placeholder="Enter Your PinCode" />
                    <span asp-validation-for="PinCode" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <label asp-for="IsActive"></label>
                        <input type="checkbox" class="form-check-inline" asp-for="IsActive" checked="checked" /> 
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-sm btn-primary m-2 p-2 float-end" />
                    <a asp-action="GetUserList" class="btn btn-sm btn-info m-4 p-2" />Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts {  
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); // It is use for validation message hide when user input value
    }
}


